.fifth-page-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-color: #4779fb;
  @media (max-width: 768px) {
    width: 100%;
    height: 130vh;
  }
}

.content-fifth {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.card {
  position: relative;
  width: 30%;
  overflow: hidden;
  margin: 10px;
  @media (max-width: 768px) {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
  }
  .images-in-cards {
    width: 300px;
    height: 400px;
    @media (max-width: 768px) {
      width: 300px;
      height: 400px;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      opacity: 0;
      transition: opacity 0.3s;
    }

    h3 {
      padding: 10px;
      margin: 0;
      font-size: 1.5em;
      text-align: center;
    }

    p {
      margin: 10px 0 0;
      font-size: 1em;
      text-align: center;
      padding: 10px;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}
