.header {
  background-color: #fffefe;
}

.logo-container {
  max-width: 100px; /* ajuste conforme necessário */
  margin-left: 10px; /* ou outro valor que você preferir para ajustar o espaço à esquerda */
}
.button-header {
  color: none;
  border: none;
  cursor: pointer;
  .logo {
    width: 100%;
    height: auto;
  }
}
